.container {
    display: flex;
    column-gap: 20px;

}

.box1 {
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 10px double rgb(255, 255, 255);
    
}
.box2 {
    background-color: rgb(0, 255, 0);
    width: 200px;
    height: 200px;
    border: 10px double rgb(255, 255, 255);
    margin: 10px;
}
.box3 {
    background-color: rgb(0, 0, 255);
    width: 200px;
    height: 200px;
    border: 10px double rgb(255, 255, 255);
    margin: 10px;
}
h1 {
    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
}
