.container {
    padding: 20px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    line-height: 50px;
    font-weight: bold;
    color: white;
}

.box1 {
    background-color: rgb(255, 0, 0);
    border: 10px double rgb(255, 255, 255);
    
}
.box2 {
    background-color: rgb(0, 255, 0);
    border: 10px double rgb(255, 255, 255);
   
}
.box3 {
    background-color: rgb(0, 0, 255);
    border: 10px double rgb(255, 255, 255);
}

